body {
    font-family: "Rubik Doodle Shadow";
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}


ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

li:last-child{
    margin-right: 0;
}

.header {
    background-color: rgb(44, 255, 178);
    color: rgb(255, 255, 255);
    padding: 20px 0px;
    font-size: 1.5rem; 
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

.main-menu a {
    text-decoration: none;
    color: rgb(13, 100, 34);
    font-weight: bold;
}

.main-menu li {
    display: inline;
    margin-right: 10px;
}

.main-menu li:last-child {
    margin-right: 0;
}

p {
    text-align: justify;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
}

.avatar{
    height: 300px;
    width: 1000px;
    text-align: center;
    background-image: url(images/but.png);
}
.avatar img{
    height: 100%;
}
